<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/viajes}" th:object="${params}" method="get">
			<div class="row">
				<div class="col-md-2">
					<label>Marca:</label>
				</div>
				
				<div class="col-md-4">
					<select th:field="*{marcaId}" class="form-control">
						<option th:value="99" th:text="Selecciona">
						<option th:each="lstmarca:${marcas}" 
								th:value="${lstmarca.id}"
								th:text="${lstmarca.descMarca}" />
					</select>
				</div>
				
				<div class="col-md-2">
					<label>Marca Rol:</label>
				</div>
				
				<div class="col-md-4">
					<select class="form-control" th:field="*{marcaRolId}" >
						<option th:value="99" th:text="Selecciona">
						<option th:each="mr:${lstMarcaRol}" th:value="${mr.rolId}"
							    th:text="${mr.descripcion}" />
					</select>
				</div>
				
				<div class="col-md-1.5 ">
					<div class="form-group">
						<label>Fecha Inicial</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<input type="date" class="form-control" th:field="*{fecha}">
					</div>
				</div>
				
				<div class="col-md-2">
					<div class="form-group">
						<input type="submit" class="btn btn-success" value="Buscar">
					</div>
				</div>
				<div class="col-md-5.5">
				<div></div>
				</div>
				
				<div class="col-md-2">
					<div class="form-group">
						<input type="button" value="Confirmar" id="btn" name="btn">
					</div>
				</div>
			</div>
		</form>
		
		<div class="row-center">
			<div class="col-md-12 table-responsive">
				<table class="table table-hover" id="tblViajes" name="tblViajes">
					<thead class="thead-dark">
						<tr>
							<th>Viaje Id</th>
							<th>Cuadro</th>
							<th>Secuencia</th>
							<th>Fecha</th>
							<th>Hora Salida</th>
							<th>Origen</th>
							<th>Destino</th>
							<th>Via</th>
							<th>Conductor</th>
							<th>Autobus</th>
							<th>Autobus Externo</th>
							<th>Estatus</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="v:${lstViajes}"  >
							<td id="viajeId" th:text="${v.viajeId}"></td>
							<td id="cuadro" th:text="${v.cuadro}"></td>
							<td id="secuencia" th:text="${v.secuencia}"></td>
							<td id="fecha" th:text="${#dates.format(v.fecha, 'dd-MM-yyyy')}"></td>
							<td id="horaSalida" th:text="${#dates.format(v.horaSalida, 'HH:mm')}"></td>
							<td id="origen" th:text="${v.origen} == null ? '' : ${v.origen.cveParada}"></td>
							<td id="destino" th:text="${v.destino} == null ? '' : ${v.destino.cveParada}"></td>
							<td id="via" th:text="${v.descVia}"></td>
							<td th:text="${v.conductor} == null ? '' : ${v.conductor.cveEmpleado}"></td>
							<td th:text="${v.autobus} == null ? '' :  ${v.autobus.numeroEconomico}"></td>
							<td th:text="${v.autobusExterno} == null ? '' :  ${v.autobusExterno.numeroEconomico}"></td>
							<td id="estatus" th:text="${v.descEstatus}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layaout/layaout :: footer"></footer>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
	<script type="text/javascript">
	$("#tblViajes tbody tr").click(function(){
	      $(this).addClass('selected').siblings().removeClass('selected');    
	});

	$('#btn').on('click', function(e){
	       var value=$("#tblViajes tr.selected td:first").html();
	       if(value === undefined){
	    	   alert('No se selecciono ningun viaje');
	       }else{
	       confirmarViaje(value);
	       }
	});
	
	function confirmarViaje(id) {

		$.ajax({
			url : '/viajes/confirmar',
			method : 'POST',
			data : {
				viajeId : id
			},
			beforeSend : function(response) {
				console.log("paso");
			},
			success : function(response) {
				console.log("antes de redirect");
				console.log(response);
				alert(response);
				location.reload();
				console.log("despues de redirect");
			},
			error : function(xhr) {
				console.log(xhr);
				console.log("Error por algo");
				alert(xhr.responseText);
			},
			complete : function() {
				console.log("termina");
				console.log("acabo");
			}
		});
	}

	</script>
</body>
</html>