<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/asociados}" th:object="${asociado}" method="post">
			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label>Nombre : </label>
						
						<input type="text"class="form-control" id="nombre" th:field="*{nombre}">
					</div>				
				</div>
				
				<div class="col-md-6">
					<div class="form-group">
						<label>Estatus : </label>
						<select th:field="*{descEstatus}" id="descEstatus" class="form-control">
							<option th:value="1" th:text="ACTIVO"></option>
							<option th:value="0" th:text="INACTIVO"></option>
						</select>
					</div>
				</div>
				
				<div class="col-md-5">
					<div class="form-group">
						<label>Clave JDE: </label>
						<input type="text" class="form-control" id="claveJde" th:field="*{claveJde}">
					</div>
				</div>
				
				<div class="col-md-5">
					<div class="form-group">
					<label>Marca : </label>
					<select th:field="*{marca.id}" id="marca" class="form-control">
							<option th:each="lstmarca:${marcas}" 
									th:value="${lstmarca.id}"
									th:text="${lstmarca.descMarca}" />
						</select>
					</div>
				</div>
				
				<div class="col-md-2">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</div>
		</form>
		
		<div class="row-center">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table.responsive">
					<thead>
						<tr>
							<th>Clave</th>
							<th>Nombre</th>
							<th>Clave JDE</th>
							<th>Marca</th>
							<th>Estatus</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="socio:${lstAsociados}">
							<td th:text="${socio.asociadoId}"></td>
							<td th:text="${socio.nombre}"></td>
							<td th:text="${socio.claveJde}"></td>
							<td th:text="${socio.marca.descMarca}"></td>
							<td th:text="${socio.descEstatus}"></td>
							
							<td><a th:href="@{/socio/editar/} + ${socio.asociadoId}" class="btn btn-warning">Editar</a></td>
							<td><a th:href="@{/socio/eliminar/} + ${socio.asociadoId}" class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>