<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/autobusExterno}" th:object="${autobusExt}" method="post">
			<div class="row">
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Region</label>
					<select th:field="*{region.id}" id="regiones" name="regiones" class="form-control">
						<option th:value="99" th:text="Selecciona">
						<option th:each="lstRegion:${regiones}"
								th:value="${lstRegion.id}"
								th:text="${lstRegion.descRegion}"/>
					</select>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Marca</label>
					<select th:field="*{marca.id}" th:path="marcas" id="marcas" name="marcas" class="form-control">
						<option th:value="99" th:text="Selecciona">
					   <option value="" label="Selecciona tipo" />																
					   <option value="" th:items="${marcas}" th:itemValue="id" th:itemLabel="value" ></option>
					</select>
					
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Zona</label>
					<select th:field="*{zona.id}" th:path="zonas" id="zonas" name="zonas" class="form-control">
						<option th:value="99" th:text="Selecciona">
						<option value="" th:items="${zonas}" th:itemValue="id" th:itemLabel="value" ></option>
					</select>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Administrados</label>
					<select th:field="*{asociado.asociadoId}" id="asociado" class="form-control">
						<option th:each="lstAsociados:${asociados}"
								th:value="${lstAsociados.asociadoId}"
								th:text="${lstAsociados.nombre}"/>
					</select>
				</div>
			</div>
			
			<div class="col-md-1">
				<div class="form-group">
					<label>Clave : </label>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="form-group">
					<input th:field="*{idAutobus}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group">
					<label>Numero Economico : </label>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="form-group">
					<input th:field="*{numeroEconomico}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-1">
				<div class="form-group">
					<label>Modelo : </label>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<input th:field="*{modelo}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-1">
				<div class="form-group">
					<label>Placa : </label>
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group">
					<input th:field="*{placas}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group">
					<label>Num. Asientos : </label>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<input  th:field="*{asientos}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group">
					<label>Tarjeta IAVE : </label>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="form-group">
					<input th:field="*{tarjetaIave}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-2">
					<div class="form-group">
						<input type="checkbox" th:field="*{valorEstatus}" />
					</div>
			</div>
			
			<div class="col-md-1">
				<div class="form-group">
					<label>Activo </label>
				</div>
			</div>
			<div class="col-md-3"></div>
			
			<div class="col-md-2">
				<div class="form-group">
					<label>Tipo Vehiculo :  </label>
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="form-group">
					<input th:field="*{tipoVehiculo}" type="text" class="form-control">
				</div>
			</div>
			
			<div class="col-md-2 ">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
			</div>
			</div>
		</form>
		
		<div class="row-center">
			<div class="col-md-12">
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>CLAVE</th>
							<th>NUM. ECONOMICO</th>
							<th>REGION</th>
							<th>MARCA</th>
							<th>ZONA</th>
							<th>ADMINISTRADO</th>
							<th>MODELO</th>
							<th>PLACAS</th>
							<th>ASIENTOS</th>
							<th>TARJETA IAVE</th>
							<th>TIPO VEHICULO</th>
							<th>ESTATUS</th>
							<th >ACCIONES</th>
							<th></th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="busExt:${lstBusExterno}">
							<td th:text="${busExt.idAutobus}"></td>
							<td th:text="${busExt.numeroEconomico}"></td>
							<td th:text="${busExt.region.descRegion}"></td>
							<td th:text="${busExt.marca.descMarca}"></td>
							<td th:text="${busExt.zona.descZona}"></td>
							<td th:text="${busExt.asociado.nombre}"></td>
							<td th:text="${busExt.modelo}"></td>
							<td th:text="${busExt.placas}"></td>
							<td th:text="${busExt.asientos}"></td>
							<td th:text="${busExt.tarjetaIave}"></td>
							<td th:text="${busExt.tipoVehiculo}"></td>
							<td th:text="${busExt.estatus}"></td>
							
							<td><a th:href="@{/bus/editar/} + ${busExt.idAutobus}" class="btn btn-warning">Editar</a></td>
							<td><a th:href="@{/bus/eliminar/} + ${busExt.idAutobus}"class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
<script>
	$("#regiones").on("change", function (e) {
	$.ajax({
    url: "/marcas_region",
    method: "GET",
    data: { tipo: $(this).val() },
    dataType: "json",
    success: function (response) {
      if (response) {
    	$("#marcas option:not(:disabled)").remove();
        $.each(response, function(index, option) {
        	console.log("index:" + index);
        	console.log("option: "+ option);
        	$("#marcas").append('<option value="'+ option.id +'">'+ option.descMarca +'</option>') ;
        });
      }
    },
    error:function (xhr){
    	console.log(xhr);
    },complete:function(){ 
    	console.log("termina");
    }
  });
});
</script>

<script>
	$("#marcas").on("change", function (e) {
	$.ajax({
    url: "/zona_marca",
    method: "GET",
    data: { tipo: $(this).val() },
    dataType: "json",
    success: function (response) {
      if (response) {
    	$("#zonas option:not(:disabled)").remove();
        $.each(response, function(index, option) {
        	console.log("index:" + index);
        	console.log("option: "+ option);
        	$("#zonas").append('<option value="'+ option.id +'">'+ option.descZona +'</option>') ;
        });
      }
    },
    error:function (xhr){
    	console.log(xhr);
    },complete:function(){ 
    	console.log("termina");
    }
  });
});
</script>

<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>