<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<header th:replace="layaout/layaout :: header"></header>
	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<h2>Carga archivo</h2>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/cargaOfertaCuadros}"
						enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" name="file" class="form-control-file">
						</div>
						<button type="submit" class="btn btn-primary">Carga
							Archivo</button>
					</form>
				</div>

				<div class="col-md-1.5 ">
					<div class="form-group">
						<label>Fecha Inicial</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<input type="date" class="form-control" id="fecIni">
					</div>
				</div>

				<div class="col-md-1.5 ">
					<div class="form-group">
						<label>Fecha Final</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<input type="date" class="form-control" id="fecFin">
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<input type="button" value="Guardar" class="btn btn-success"
							onclick="guardaFechas();">
					</div>
				</div>
			</div>

		</div>

		<div class="row center">
			<div class="col-md-12 table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Descripcion</th>
							<th>Cuadro</th>
							<th>Secuencia</th>
							<th>Hora</th>
							<th>Origen</th>
							<th>Destino</th>
							<th>Kms</th>
							<th>Via</th>
							<th>L</th>
							<th>M</th>
							<th>M</th>
							<th>J</th>
							<th>V</th>
							<th>S</th>
							<th>D</th>
							<th>Num Dias</th>
							<th>L</th>
							<th>M</th>
							<th>M</th>
							<th>J</th>
							<th>V</th>
							<th>S</th>
							<th>D</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vo:${lstOferta}">
							<td th:text="${vo.descripcion}"></td>
							<td th:text="${vo.cuadro}"></td>
							<td th:text="${vo.secuencia}"></td>
							<td th:text="${#dates.format(vo.horaSalida, 'HH:mm')}"></td>
							<td th:text="${vo.origen}"></td>
							<td th:text="${vo.destino}"></td>
							<td th:text="${vo.kms}"></td>
							<td th:text="${vo.via}"></td>
							<td th:text="${vo.aplicaL}"></td>
							<td th:text="${vo.aplicaM}"></td>
							<td th:text="${vo.aplicaMI}"></td>
							<td th:text="${vo.aplicaJ}"></td>
							<td th:text="${vo.aplicaV}"></td>
							<td th:text="${vo.aplicaS}"></td>
							<td th:text="${vo.aplicaD}"></td>
							<td th:text="${vo.numDias}"></td>
							<td th:text="${vo.ValorL}"></td>
							<td th:text="${vo.ValorM}"></td>
							<td th:text="${vo.ValorMI}"></td>
							<td th:text="${vo.ValorJ}"></td>
							<td th:text="${vo.ValorV}"></td>
							<td th:text="${vo.ValorS}"></td>
							<td th:text="${vo.ValorD}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>

	<script>
		function guardaFechas() {

			$.ajax({
				url : '/enviaOferta/fechas',
				method : 'POST',
				data : {
					fecIni : $('#fecIni').val(),
					fecFin : $('#fecFin').val()
				},
				beforeSend : function(response) {
					console.log("paso");
				},
				success : function(response) {
					console.log("antes de redirect");
					console.log(response);
					console.log("despues de redirect");
				},
				error : function(xhr) {
					console.log(xhr);
					console.log("Error por algo");
				},
				complete : function() {
					guardadoOferta();
					console.log("termina");
					console.log("acabo");
				}
			});
		}
	</script>

	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>