<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/ofertaCuadros}" th:object="${ofertaC}"
			method="post">
			<div class="row">
				<div class="col-md-4">
					<label>Marca Rol</label> <select class="form-control"
						th:field="*{marcaRol}">
						<option th:value="99" th:text="Selecciona">
						<option th:each="mr:${lstMarcaRol}" th:value="${mr.rolId}"
							th:text="${mr.descripcion}" />
					</select>
				</div>
				<div class="col-md-4">
					<label>Num Cuadros</label> <input type="text" class="form-control"
						th:field="*{cuadros}">
				</div>
				<div class="col-md-4">
					<label>Num Vueltas</label> <input type="text" class="form-control"
						th:field="*{vueltas}">
				</div>
				<div class="col-md-3">
					<label>Tipo Oferta</label> <select class="form-control"
						th:field="*{tipoOferta}">
						<option th:value="Selecciona" th:text="Selecciona">
						<option th:value="Normal" th:text="Normal">
						<option th:value="Vacacional" th:text="Vacacional">
					</select>
				</div>

				<div class="col-md-4">
					<label></label> <input type="submit" value="Exportar"
						class="btn btn-success">
				</div>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>