<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/form}" th:object="${marcaRol}" method="post">
			<div class="row ">
				<div class="col-md-5">
					<div class="form-group">
						<label>Marcas:</label> 
						<select th:field="*{marca.id}" id="marca"
							class="form-control">
							<option th:each="lstmarca:${marcas}" th:value="${lstmarca.id}"
								th:text="${lstmarca.descMarca}" />
						</select>
					</div>
				</div>

				<div class="col-md-5">
					<div class="form-group">
						<label>Descripción Marca Rol:</label> <input type="text"
							class="form-control" id="descripcion" th:field="*{descripcion}">
					</div>
				</div>
				<div class="col-md-2 text-center">
					<br /> <input type="submit" value="Guardar"
						class="btn btn-success">

				</div>
			</div>
		</form>

		<div class="row center">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-striped table-responsive ">
					<thead>
						<tr>
							<th>MARCA</th>
							<th>ROL MARCA</th>
							<th>USUARIO</th>
							<th>FECHA ALTA</th>
							<th>ESTATUS</th>
							<th colspan="2">ACCIONES</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mr:${lstMarcaRol}">
							<td th:text=${mr.marca.descMarca}></td>
							<td th:text=${mr.descripcion}></td>
							<td th:text=${mr.usuario.cveUsuario}></td>
							<td th:text="${#dates.format(mr.fecHorAct, 'dd-MM-yyyy')}"></td>
							<td th:text=${mr.descStatus}></td>

							<td><a th:href="@{/editar/} + ${mr.rolId}"
								class="btn btn-warning">Editar</a></td>

							<td><a th:onclick="eliminar([[${mr.rolId}]])"
								class="btn btn-danger">Eliminar</a></td>


							<td><a class="btn btn-success" th:attr="onclick='showModal(\'' + ${mr.marca.id}+'\' , \''+ ${mr.marca.descMarca}+'\', \''+ ${mr.rolId}+'\', \''+ ${mr.descripcion}+'\')'">Detalle</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Detalle de la
						Marca</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>


				<div class="modal-body">

					<div class="col-md-12">
						<div class="form-group">
							<label class="col-form-label">Marca:</label> <select
								th:path="marcas" id="marcas" name="marcas" class="form-control">
								<option value="" th:items="${marcas}" th:itemValue="id"
									th:itemLabel="value"></option>
							</select> <label class="col-form-label">Marca Rol:</label> <select
								th:path="marcasRol" id="marcasRol" name="marcasRol"
								class="form-control">
								<option value="" th:items="${marcasRol}" th:itemValue="id"
									th:itemLabel="value"></option>
							</select>
						</div>
					</div>

					<div class="row">
						
						<div class="col-md-2">
							<div class="form-group">
								<label>Fianza:</label>
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="form-group">
								<input type="text" id="vFianza" class="form-control">
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Fecha Fianza: </label> 
							</div>
						</div>
	
						<div class="col-md-5">
							<div class="form-group">
								<input type="date" id="fFianza" class="form-control">
							</div>
						</div>						
						
						<div class="col-md-2.5">
							<div class="form-group">
								<label>Factor Kms:</label> 
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<input type="text" id="facKms" class="form-control">
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<label>Valor Tarjeta:</label>
							</div>	
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<input type="text" id="vTarjeta" class="form-control">
							</div>
						</div>
						
						<div class="col-md-4.5">
							<div class="form-group">
								<label>Cuentas Permitidas:</label> 
							</div>	
						</div>
						
						<div class="col-md-3">
							<div class="form-group">
								<input type="text" id="vCtas" class="form-control">
							</div>
						</div>
						

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
					<button onclick="guardar();" type="button" class="btn btn-primary">Guarda</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		function showModal(idMarca, descMarca, idMarcaRol, descMarcaRol) {
			$('#exampleModal').modal();

			$("#marcas option:not(:disabled)").remove();
			$("#marcas").append(
					'<option value="'+ idMarca +'">' + descMarca + '</option>');
			$("#marcasRol option:not(:disabled)").remove();
			$("#marcasRol").append(
					'<option value="'+ idMarcaRol +'">' + descMarcaRol
							+ '</option>');
		}

		function guardar() {
			var detalle = new Object();
			detalle.valorFianza = $('#vFianza').val();
			detalle.factorKms = $('#facKms').val();
			detalle.valorCuenta = $('#vTarjeta').val();
			detalle.cuentasPermitidas = $('#vCtas').val();
			detalle.idMarca = $('#marcas').val();
			detalle.idMarcaRol = $('#marcasRol').val();

			var jsonData = JSON.stringify(detalle);

			$.ajax({
				url : '/detalleMarca',
				type : 'POST',
				data : jsonData,
				processData : false,
				contentType : "application/json"
			});

			$('#exampleModal').modal('hide');
		}
	</script>

	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>