<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
</head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/parada}" th:object="${parada}" th:method="post">
			<div class="row">

				<div class="col-md-3">
					<div class="form-group">
						<label>Clave:</label> 
						<input th:field="*{cveParada}" type="text" class="form-control">
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label>Descripcion:</label> 
						<input th:field="*{descParada}" type="text" class="form-control">
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label>Estatus:</label> 
						<input type="checkbox" th:field="*{valorEstatus}" />
					</div>
				</div>
				
				<div class="col-md-2 ">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
			</div>
			</div>
			
		</form>
		
		<div class="row-center">
			<div class="col-md-12">
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th>Clave</th>
							<th>Descripcion</th>
							<th>Estatus</th>
							<th>usuario</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="parada:${lstParadas}">
							<td th:text="${parada.cveParada}"></td>
							<td th:text="${parada.descParada}"></td>	
							<td th:text="${parada.descEstatus}"></td>
							<td th:text="${parada.usuarioId}"></td>
							
							<td><a th:href="@{/parada/editar/} + ${parada.paradaId}" class="btn btn-warning">Editar</a></td>
							<td><a th:href="@{/parada/eliminar/} + ${parada.paradaId}"class="btn btn-danger">Eliminar</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>