<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
</head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<form th:action="@{/tramos}" th:object="${tramoMarca}" method="post">
			<div class="row">

				<div class="col-md-12">
					<div class="form-group">
						<label>Marcas:</label> 
						<select th:field="*{marca.id}" id="marca" class="form-control">
							<option th:each="lstmarca:${marcas}" th:value="${lstmarca.id}"
								th:text="${lstmarca.descMarca}" />
						</select>
					</div>
				</div>

				<div class="col-md-1">
					<div class="form-group">
						<label>Origen:</label>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<input id="origenid" type="hidden" th:field="*{origen.paradaId}" >
						<input  id="origencve" type="text" th:field="*{origen.cveParada}" class="form-control">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input type="button" value="Busca" class="btn btn-success" onclick="showModal('origen');">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input id="origendesc"  type="text" class="form-control" th:field="*{origen.descParada}">
					</div>
				</div>

				<div class="col-md-1">
					<div class="form-group">
						<label>Destino:</label>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group">
						<input id="destinoid" type="hidden" th:field="*{destino.paradaId}" >
						<input id="destinocve" type="text" class="form-control" th:field="*{destino.cveParada}">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input type="button" value="Busca" class="btn btn-success" onclick="showModal('destino');">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<input id="destinodesc" type="text" class="form-control" th:field="*{destino.descParada}">
					</div>
				</div>

				<div class="col-md-2">
					<div class="form-group">
						<label>Kilometros</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<input type="text" class="form-control"
							th:field="*{kmsRecorridos}">
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<input th:field="*{selecPista}" type="checkbox" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label>Importe caseta</label>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{costo}">
					</div>
				</div>

				<div class="col-md-2 ">
					<div class="form-group">
						<label>Via:</label>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="form-group">
						<select th:field="*{via.id}" class="form-control">
							<option th:each="lstvia:${vias}" th:value="${lstvia.id}"
								th:text="${lstvia.nombVia}" />
						</select>
					</div>
				</div>
				<div class="col-md-2 ">
					<div class="form-group">
						<label>Tiempo de Recorrido</label>
					</div>
				</div>
				<div class="col-md-3 ">
					<div class="form-group">
						<input type="time" class="form-control" >
					</div>
				</div>
				<div class="col-md-2 ">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</div>
		</form>

		<div class="row center">
			<div class="col-md-1"></div>
			<div class="col-md-10"></div>
			<table class="table table-striped table-responsive ">
				<thead>
					<tr>
						<th>ROL MARCA</th>
						<th>ORIGEN</th>
						<th>DESTINO</th>
						<th>KMS</th>
						<th>CASETA</th>
						<th>VIA</th>
						<th>TIEMPO RECORRIDO</th>
						<th colspan="2">ACCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tm:${lstTramosMarca}">

						<td th:text="${tm.marca.descMarca}"></td>
						<td th:text="${tm.origen.descParada}"></td>
						<td th:text="${tm.destino.descParada}"></td>
						<td th:text="${tm.kmsRecorridos}"></td>
						<td th:text="${tm.costo}"></td>
						<td th:text="${tm.via.nombVia}"></td>
						<td th:text="${tm.tRecorrido}"></td>

						<td><a th:href="@{/tramos/editar/} + ${tm.tramoMarcaId}" class="btn btn-warning">Editar</a></td>
						<td><a th:href="@{/tramos/eliminar/} + ${tm.tramoMarcaId}" class="btn btn-danger">Eliminar</a></td>
						<td><a class="btn btn-success" th:attr="onclick='showModalDetalle(\'' + ${tm.tramoMarcaId}+'\')'">Detalle</a></td>

					</tr>
				</tbody>
			</table>
			<div class="col-md-1"></div>
		</div>
	</div>

	<div class="modal fade" id="modalParadas" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Busqueda Paradas</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="tipoBusqueda">
					<div class="row">
						
						<div class="col-md-5">
							<div class="form-group">
								<label class="col-form-label">Clave:</label>
								<input type="text" id="cveParada" class="form-control"> 
							</div>
						</div>
						
						<div class="col-md-5">
							<div class="form-group">
								<label class="col-form-label">Nombre:</label>	
								<input type="text" id="descParada" class="form-control">
							</div>
						</div>
						
						<div class="col-md-2">
							<br/><input type="button" value="Buscar" class="btn btn-success" onclick="buscaParada();">
						</div>
					</div>
					

					<div class="row center">
						<div class="col-md-1"></div>
						<div class="col-md-10 table-responsive">
						<table class="table table-striped " id="tblParadas">
							<thead>
								<tr>
									<th>NOMBRE</th>
									<th>DESCRIPCION</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						</div>
						<div class="col-md-1"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Detalles Tramo</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<input type="hidden" id="tipoBusqueda">
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label">Inicio:</label>
								<input type="text" id="inicio" class="form-control"> 
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label">Fin:</label>	
								<input type="text" id="fin" class="form-control">
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label">Tiempo Recorrido:</label>	
								<input type="text" id="tRecorrido" class="form-control">
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="col-form-label">Dia semana :</label>	
								<input type="text" id="diaSemana" class="form-control">
							</div>
						</div>
						
						<div class="col-md-2">
							<br/><input type="button" value="Aplica" class="btn btn-success">
						</div>
						<div class="col-md-2">
							<br/><input type="button" value="Elimina" class="btn btn-success">
						</div>
					</div>
					

					<div class="row center">
						<div class="col-md-1"></div>
						<div class="col-md-10 table-responsive">
						<table class="table table-striped " id="tblDetTramo">
							<thead>
								<tr>
									<th>Tramo</th>
									<th>Dia semana</th>
									<th>Inicio</th>
									<th>Fin</th>
									<th>Tiempo recorrido</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						</div>
						<div class="col-md-1"></div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>


	<script type="text/javascript">
	
		function showModalDetalle(idTramo){ 
			$('#modalDetalles').modal();
			$("#tipoBusqueda").val(idTramo);
			
			$.ajax({
				url : '/detalleT/idTramo',
				method : 'GET',
				data : {idTramo:$('#tipoBusqueda').val()},
				dataType : "json",
				beforeSend:function(response){ 
					console.log('detalles');
				},
				success: function (response) {
					$("#tblDetTramo tbody").empty();
					console.log(response);
					var table = $("#tblDetTramo tbody");
					
				    $.each(response, function(idx, elem){
				    	console.log("index:" + idx);
			        	console.log("option: "+ elem);
				        table.append("<tr><td>"+elem.key.tramoId+"</td> <td>"+elem.key.diaSemana+"</td> <td>"+elem.key.inicio+"</td> <td>"+elem.fin+"</td> <td>"+elem.tRecorrido+"</td>");
				    });
				    },
				    error:function (xhr){
				    	console.log(xhr);
				    },complete:function(){ 
				    	console.log("termina");
				    }
			});
			
			
		}
		
		function showModal(tipo){ 
			$('#modalParadas').modal();
			$("#tipoBusqueda").val(tipo);
			
			$('#cveParada').val('');
			desc:$('#descParada').val('');
			$("#tblParadas tbody").empty();
		}
		
		
		function buscaParada(){
			
			var paradas = new Object();
			paradas.cveParada = $('#cveParada').val();
			paradas.descParada = $('#descParada').val();
			
			var jsonData = JSON.stringify(paradas);
			$.ajax({
				url : '/parada/clave',
				method : 'GET',
				data : {clave:$('#cveParada').val(), desc:$('#descParada').val()},
				dataType : "json",
				beforeSend:function(response){ 
					console.log(paradas);
				},
				success: function (response) {
					$("#tblParadas tbody").empty();
					console.log(response);
					var table = $("#tblParadas tbody");
					
				    $.each(response, function(idx, elem){
				    	console.log("index:" + idx);
			        	console.log("option: "+ elem);
				        table.append("<tr><td>"+elem.cveParada+"</td> <td>"+elem.descParada+"</td><td><a class=\"btn btn-success\" onclick=\"setParada('"+ $("#tipoBusqueda").val() + "', "+ elem.paradaId + " , '"+ elem.cveParada+"', '"+ elem.descParada+"');\">Seleccionar</a></td></tr>");
				    });
				    },
				    error:function (xhr){
				    	console.log(xhr);
				    },complete:function(){ 
				    	console.log("termina");
				    }
			});
		}
		
		function setParada(tipo, id, clave, desc){ 
			if(tipo == "origen"){ 
				$("#origenid").val(id); 
				$("#origencve").val(clave);
				$("#origendesc").val(desc);
			}else if(tipo == "destino"){ 
				$("#destinoid").val(id); 
				$("#destinocve").val(clave);
				$("#destinodesc").val(desc);
			}
			$('#modalParadas').modal('hide');
		}
		
	</script>
	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>