<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="'Spring boot'"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style type="text/css">
	.selected {
       background-color: brown;
       color: #FFF;
}
</style>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#"> Spring Boot </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#" >Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/form}">Marcas</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/tramos}">Tramos</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/asociados}">Asociados</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/autobusExterno}">Autobus Externo</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/parada}">Alta Paradas</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/ofertaCuadros}">Generacion de la Oferta</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/cargaOfertaCuadros}">Carga Oferta</a></li>
					<li class="nav-item"><a class="nav-link" href="#about" th:href="@{/viajes}">Consulta Viajes</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />

		<p>
			Powered by <a href="https://project.spring.io/spring-boot/">Spring
				Boot</a> y <a href="htpps://www.thymeleaf.org">Thymeleaf</a>.
		</p>

	</footer>
</body>
</html>
